.aq-transition-vessel > .falling-enter-from,
.aq-transition-vessel > .falling-enter-active,
.aq-transition-vessel > .falling-enter-to,
.aq-transition-vessel > .falling-leave-from,
.aq-transition-vessel > .falling-leave-active,
.aq-transition-vessel > .falling-leave-to {
	position: var(--cellposition) !important;
}
.aq-transition-vessel > .falling-enter-from,
.aq-transition-vessel > .falling-leave-to {
	transform: translateY(-10px);
	opacity: 0;
}
.aq-transition-vessel > .falling-enter-active {
	transition: all var(--enter) var(--entertiming);
}
.aq-transition-vessel > .falling-leave-active {
	transition: all var(--leave) var(--leavetiming);
}
/* transition-group */
.aq-transition-group > .container > .falling-move,
.aq-transition-group > .container > .falling-enter-active {
	transition: all var(--enter) var(--entertiming);
}
.aq-transition-group > .container > .falling-leave-active {
	transition: all var(--leave) var(--leavetiming);
}
.aq-transition-group > .container > .falling-enter-from,
.aq-transition-group .container .falling-leave-to {
	transform: translateY(-10px);
	opacity: 0;
}
.aq-transition-group > .container > .falling-leave-active {
	position: absolute;
}
